# cambio de pesos
aqui se hace el metodo maape, recibe 4 archivos, el de la precipitacion de la estacion, el inicio de lluvia real y los indices de pac y atrlantico

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
folder= Path("data")
pattern = "resultados_analogos_*.xlsx"
df_list=[]

In [3]:
for file in folder.glob(pattern):
    print(file)
    df=pd.read_excel(file)
    df_list.append(df)

data\resultados_analogos_cengicana.xlsx
data\resultados_analogos_laborovalle.xlsx
data\resultados_analogos_lafragua.xlsx
data\resultados_analogos_puertosanjose.xlsx

In [4]:
stations= pd.concat(df_list, ignore_index=True)
iell = pd.read_excel("data/start_prec_stations.xlsx")

In [5]:
stations

,año_analizado,mes_analizado,escenario,estacion,semana_promedio,semana_ponderada,sem_iell_real,error_abs_prom,error_abs_pond
0,2023,4,prec_dom,cengicana,21.4,20.100,22.0,1.0,2.0
1,2023,4,enso_dom,cengicana,22.6,23.200,22.0,1.0,1.0
2,2023,4,enso_prec,cengicana,22.6,23.100,22.0,1.0,1.0
3,2023,4,neutro,cengicana,21.8,23.300,22.0,0.0,1.0
4,2023,4,atl_dom,cengicana,21.6,23.050,22.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
290,2007,4,prec_dom,puertosanjose,28.8,29.025,31.0,2.0,2.0
291,2007,4,enso_dom,puertosanjose,28.8,28.200,31.0,2.0,3.0
292,2007,4,enso_prec,puertosanjose,28.8,28.200,31.0,2.0,3.0
293,2007,4,neutro,puertosanjose,28.8,28.200,31.0,2.0,3.0
294,2007,4,atl_dom,puertosanjose,28.8,28.200,31.0,2.0,3.0

In [6]:
iell.rename(columns={'estacion':'station'}, inplace=True)
iell

           station  year  sem_iell
0         lafragua  1980        41
1         lafragua  1981        33
2         lafragua  1982        35
3         lafragua  1983        36
4         lafragua  1984        32
..             ...   ...       ...
133       lafragua  2023        35
134  puertosanjose  2020        27
135  puertosanjose  2021        33
136  puertosanjose  2022        24
137  puertosanjose  2023        32

[138 rows x 3 columns]

In [7]:
iell.station.unique()

array(['lafragua', 'laborovalle', 'puertosanjose', 'cengicana'],
      dtype=object)

In [8]:
stations.rename(columns={'año_analizado':'year', 'mes_analizado':'month','estacion':'station'}, inplace=True)
stations.head()

,year,month,escenario,station,semana_promedio,semana_ponderada,sem_iell_real,error_abs_prom,error_abs_pond
0,2023,4,prec_dom,cengicana,21.4,20.10,22.0,1.0,2.0
1,2023,4,enso_dom,cengicana,22.6,23.20,22.0,1.0,1.0
2,2023,4,enso_prec,cengicana,22.6,23.10,22.0,1.0,1.0
3,2023,4,neutro,cengicana,21.8,23.30,22.0,0.0,1.0
4,2023,4,atl_dom,cengicana,21.6,23.05,22.0,0.0,1.0

In [9]:
stations.station.unique()

array(['cengicana', 'laborovalle', 'lafragua', 'puertosanjose'],
      dtype=object)

In [10]:
all_info= stations.merge(iell, how ='outer', on=['year', 'station'],indicator=True)
all_info

,year,month,escenario,station,semana_promedio,semana_ponderada,sem_iell_real,error_abs_prom,error_abs_pond,sem_iell,_merge
0,1980,NaN,NaN,laborovalle,NaN,NaN,NaN,NaN,NaN,33.0,right_only
1,1980,NaN,NaN,lafragua,NaN,NaN,NaN,NaN,NaN,41.0,right_only
2,1981,NaN,NaN,laborovalle,NaN,NaN,NaN,NaN,NaN,30.0,right_only
3,1981,NaN,NaN,lafragua,NaN,NaN,NaN,NaN,NaN,33.0,right_only
4,1982,NaN,NaN,laborovalle,NaN,NaN,NaN,NaN,NaN,28.0,right_only
...,...,...,...,...,...,...,...,...,...,...,...
375,2023,4.0,neutro,cengicana,21.8,23.30,22.0,0.0,1.0,22.0,both
376,2023,4.0,atl_dom,cengicana,21.6,23.05,22.0,0.0,1.0,22.0,both
377,2023,NaN,NaN,laborovalle,NaN,NaN,NaN,NaN,NaN,35.0,right_only
378,2023,NaN,NaN,lafragua,NaN,NaN,NaN,NaN,NaN,35.0,right_only
379,2023,NaN,NaN,puertosanjose,NaN,NaN,NaN,NaN,NaN,32.0,right_only

In [11]:
all_info[all_info['_merge']=='both']

,year,month,escenario,station,semana_promedio,semana_ponderada,sem_iell_real,error_abs_prom,error_abs_pond,sem_iell,_merge
81,2007,4.0,prec_dom,laborovalle,27.4,27.575,30.0,3.0,2.0,30.0,both
82,2007,4.0,enso_dom,laborovalle,28.0,27.625,30.0,2.0,2.0,30.0,both
83,2007,4.0,enso_prec,laborovalle,28.0,27.575,30.0,2.0,2.0,30.0,both
84,2007,4.0,neutro,laborovalle,28.0,27.575,30.0,2.0,2.0,30.0,both
85,2007,4.0,atl_dom,laborovalle,28.0,27.825,30.0,2.0,2.0,30.0,both
...,...,...,...,...,...,...,...,...,...,...,...
372,2023,4.0,prec_dom,cengicana,21.4,20.100,22.0,1.0,2.0,22.0,both
373,2023,4.0,enso_dom,cengicana,22.6,23.200,22.0,1.0,1.0,22.0,both
374,2023,4.0,enso_prec,cengicana,22.6,23.100,22.0,1.0,1.0,22.0,both
375,2023,4.0,neutro,cengicana,21.8,23.300,22.0,0.0,1.0,22.0,both
376,2023,4.0,atl_dom,cengicana,21.6,23.050,22.0,0.0,1.0,22.0,both

# cluster

In [12]:
cluster = pd.read_excel('data/analogos_years_icc_stations.xlsx')
cluster

,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,1997,2002,2002,2001,2005,2003,2006,2001,2007,1999,...,2014,2016,2013,2002,1997,2008,2003,2018,2005,2014
1,2001,1999,1997,2004,2001,1997,1999,2000,2003,2003,...,2010,2004,2003,2015,2019,2018,2018,2014,2020,2017
2,2000,1997,2003,2003,2004,2002,2001,1997,2005,2008,...,2003,2013,2014,1997,2003,2011,2012,2019,2019,1997
3,1998,1998,2001,2002,2002,2004,2005,2002,1998,2004,...,2007,1997,2005,2004,2005,2020,2015,2003,2001,2021
4,1999,2001,1998,1997,1999,1998,2004,2004,1997,2006,...,1997,2005,2001,2000,2015,2003,2008,2001,2003,2020

In [25]:
cluster_ = cluster.reset_index().melt(id_vars='index', var_name='year', value_name='year_ana').drop(columns='index')
cluster_['year_ana']= cluster_['year_ana'].astype(int)

In [26]:
result=[]
anos=[]
estaciones = []
for station in iell.station.unique():
    #print(station)
    for year in cluster.columns.to_list():
        mean = 0
        for i in [0, 1, 2, 3, 4]:
            star = iell[(iell.station==station) & (iell.year==int(cluster[year][i]))]
            if not star.empty:
                mean=mean + star.sem_iell.values[0]
        result.append(float(mean/5))
        anos.append(year)
        estaciones.append(station)
    
cluster_m = pd.DataFrame({
    'station': estaciones,
    'year': anos,
    'cluster': result
})
cluster_m

      station  year  cluster
0    lafragua  2002     29.8
1    lafragua  2003     30.6
2    lafragua  2004     31.0
3    lafragua  2005     33.0
4    lafragua  2006     33.4
..        ...   ...      ...
91  cengicana  2021      8.4
92  cengicana  2022      7.2
93  cengicana  2023     13.0
94  cengicana  2024      9.8
95  cengicana  2025     18.2

[96 rows x 3 columns]

In [14]:
new_m = all_info[all_info['_merge']=='both'][['year','month','escenario','station','semana_promedio','semana_ponderada','sem_iell_real']].reset_index(drop=True)
new_m.rename(columns={'semana_promedio':'prom', 'semana_ponderada':'pd'}, inplace=True)

In [15]:
df_pivot = new_m.pivot_table(
    index=['year','station'],
    columns='escenario',
    values=['prom', 'pd'] # Especificamos ambas columnas que queremos pivotar
)
df_pivot.columns = [f"{col_name[1]}_{col_name[0]}" for col_name in df_pivot.columns]
df_pivot = df_pivot.reset_index()
complete_info = df_pivot.merge(new_m[['year', 'station', 'sem_iell_real']].drop_duplicates().reset_index(drop=True), how='inner', on=['year','station']).merge(cluster_m, how='inner', on=['year','station'])
complete_info

,year,station,atl_dom_pd,enso_dom_pd,enso_prec_pd,neutro_pd,prec_dom_pd,atl_dom_prom,enso_dom_prom,enso_prec_prom,neutro_prom,prec_dom_prom,sem_iell_real,cluster
0,2007,laborovalle,27.825,27.625,27.575,27.575,27.575,28.0,28.0,28.0,28.0,27.4,30.0,30.4
1,2007,lafragua,35.450,36.150,35.550,35.550,35.550,32.2,33.8,32.2,32.2,32.2,33.0,33.0
2,2007,puertosanjose,28.200,28.200,28.200,28.200,29.025,28.8,28.8,28.8,28.8,28.8,31.0,30.6
3,2008,laborovalle,29.825,28.325,28.550,28.550,28.550,28.8,28.2,28.8,28.8,28.8,31.0,28.2
4,2008,lafragua,32.000,31.050,31.050,31.050,35.600,33.0,31.0,31.0,31.0,32.2,31.0,32.6
5,2008,puertosanjose,26.000,25.775,25.775,26.000,26.775,28.0,27.4,27.4,28.0,28.2,30.0,27.0
6,2009,laborovalle,27.725,27.575,27.575,27.575,28.325,28.6,28.2,28.2,28.2,28.2,26.0,28.2
7,2009,lafragua,29.500,28.350,28.250,28.250,31.000,29.8,29.4,29.4,29.4,30.6,34.0,31.4
8,2009,puertosanjose,28.050,27.750,27.750,28.050,28.050,28.2,27.4,27.4,28.2,28.2,27.0,29.0
9,2010,laborovalle,28.875,28.200,28.200,28.950,29.175,28.4,28.6,28.6,28.6,29.2,28.0,30.6
10,2010,lafragua,34.250,34.825,34.225,34.825,32.225,34.0,35.2,33.6,35.2,33.6,28.0,32.6
11,2010,puertosanjose,29.025,29.125,29.125,29.125,29.975,29.0,29.0,29.0,29.0,29.0,24.0,30.8
12,2011,laborovalle,27.175,27.525,27.525,27.275,26.800,28.6,28.6,28.6,28.6,27.6,30.0,29.6
13,2011,lafragua,34.500,29.125,30.425,30.600,33.925,33.2,30.4,31.6,31.6,31.6,34.0,33.0
14,2011,puertosanjose,26.700,25.625,26.375,26.600,26.700,27.4,26.8,26.8,27.4,27.4,28.0,27.6
15,2012,laborovalle,27.875,27.025,27.125,26.900,29.050,28.6,28.2,28.2,27.6,28.2,28.0,29.2
16,2012,lafragua,28.675,29.775,29.775,29.250,29.750,29.6,31.0,31.0,29.6,32.0,30.0,33.4
17,2012,puertosanjose,27.675,27.600,27.600,27.600,27.850,27.6,27.2,27.2,27.2,27.8,29.0,27.8
18,2013,cengicana,23.100,23.675,23.675,23.075,24.550,22.8,22.8,22.8,22.8,23.4,23.0,0.0
19,2013,laborovalle,27.200,27.050,26.900,27.050,27.350,27.6,27.6,27.2,27.6,27.6,29.0,27.6
20,2013,lafragua,30.650,30.600,30.600,30.600,32.750,30.8,30.8,30.8,30.8,32.4,29.0,31.2
21,2013,puertosanjose,28.200,28.875,28.950,28.950,27.750,28.8,28.6,28.8,28.8,28.8,30.0,28.0
22,2014,cengicana,23.725,23.650,23.675,23.350,22.975,23.8,23.8,23.8,23.8,22.4,22.0,4.6
23,2014,laborovalle,27.250,28.100,27.550,27.525,27.750,27.6,27.6,27.6,27.4,27.6,25.0,29.6
24,2014,lafragua,30.550,30.450,30.525,29.925,31.600,31.8,30.6,30.8,29.2,31.8,30.0,31.8
25,2014,puertosanjose,29.425,29.700,29.550,29.550,28.125,28.2,29.2,28.8,28.8,28.6,26.0,30.6
26,2015,cengicana,22.300,22.925,22.900,22.900,21.925,21.8,23.4,23.4,23.4,20.8,18.0,0.0
27,2015,laborovalle,27.200,27.850,28.150,27.850,27.675,27.0,28.6,28.6,28.6,27.4,31.0,28.6
28,2015,lafragua,35.400,36.550,36.500,36.200,34.750,33.0,34.6,34.6,34.6,33.0,32.0,31.8
29,2015,puertosanjose,27.950,28.275,28.050,28.350,28.125,28.2,29.0,28.2,29.0,28.4,33.0,28.8
30,2016,cengicana,21.425,19.850,19.550,20.775,22.300,22.2,21.4,21.4,22.2,22.2,23.0,4.4
31,2016,laborovalle,27.150,29.675,28.725,28.800,29.075,27.8,28.2,28.0,28.0,27.8,32.0,28.8
32,2016,lafragua,29.300,33.100,33.200,32.175,29.925,31.4,33.8,33.6,31.4,31.4,34.0,31.4
33,2016,puertosanjose,28.375,27.525,29.925,31.350,28.875,30.0,28.8,29.6,30.2,28.4,28.0,28.6
34,2017,cengicana,23.050,23.200,23.200,23.125,23.525,23.6,23.4,23.4,23.4,24.2,23.0,9.2
35,2017,laborovalle,27.250,27.325,27.325,27.325,27.450,26.6,26.8,26.8,26.8,28.4,32.0,29.4
36,2017,lafragua,30.425,30.625,30.475,30.625,30.100,30.2,30.6,30.6,30.6,30.6,27.0,33.6
37,2017,puertosanjose,28.850,29.475,29.550,28.950,29.550,28.6,28.6,28.8,28.6,28.8,25.0,28.8
38,2018,cengicana,19.325,18.650,18.650,19.400,19.000,21.0,21.2,21.2,21.2,20.2,18.0,9.0
39,2018,laborovalle,26.875,26.800,26.800,26.725,27.550,27.8,27.6,27.4,27.4,28.2,27.0,27.6
40,2018,lafragua,28.225,29.375,29.425,28.675,29.425,29.2,29.8,29.8,29.0,29.2,34.0,31.6
41,2018,puertosanjose,29.000,28.450,28.975,28.975,28.250,28.0,28.6,28.6,28.6,28.2,28.0,28.6
42,2019,cengicana,23.150,22.400,23.050,23.350,23.800,22.2,22.4,22.4,22.4,24.0,25.0,3.6
43,2019,laborovalle,31.100,29.600,29.900,30.475,29.500,30.2,29.2,30.0,30.0,28.8,27.0,29.0
44,2019,lafragua,33.900,34.350,33.975,33.975,33.225,33.2,34.8,33.4,33.4,32.2,26.0,32.0
45,2019,puertosanjose,28.800,30.600,30.825,29.325,29.250,30.2,29.6,30.2,30.2,29.4,25.0,29.6
46,2020,cengicana,22.225,22.975,22.900,22.400,23.200,22.4,22.6,22.4,22.4,23.4,24.0,8.6
47,2020,laborovalle,29.075,29.325,29.175,29.150,27.550,28.0,28.2,28.2,28.2,28.2,NaN,29.2
48,2020,lafragua,30.150,33.825,33.525,32.600,29.300,30.2,33.4,32.6,32.6,29.0,NaN,31.8
49,2020,puertosanjose,30.150,28.575,28.575,28.575,27.175,28.6,28.4,28.4,28.4,28.4,NaN,29.4
50,2021,cengicana,21.075,18.000,18.000,19.925,18.425,20.2,19.8,19.8,19.8,20.0,22.0,8.4
51,2022,cengicana,21.525,18.650,18.650,19.800,18.575,21.4,20.4,20.4,20.6,20.2,19.0,7.2
52,2023,cengicana,23.050,23.200,23.100,23.300,20.100,21.6,22.6,22.6,21.8,21.4,22.0,13.0

In [20]:
fases = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
       2018, 2019, 2020, 2021, 2022, 2023],
    'fase': ['neutro', 'nina', 'nina', 'nino', 'nina', 'nina', 'neutro', 'neutro', 'nino', 'nino','nina', 'nina', 'nino', 'neutro', 'nina', 'nina', 'nina' ]
})
fases

    year    fase
0   2007  neutro
1   2008    nina
2   2009    nina
3   2010    nino
4   2011    nina
5   2012    nina
6   2013  neutro
7   2014  neutro
8   2015    nino
9   2016    nino
10  2017    nina
11  2018    nina
12  2019    nino
13  2020  neutro
14  2021    nina
15  2022    nina
16  2023    nina

In [21]:
complete_info.merge(fases, how='inner', on='year')

,year,station,atl_dom_pd,enso_dom_pd,enso_prec_pd,neutro_pd,prec_dom_pd,atl_dom_prom,enso_dom_prom,enso_prec_prom,neutro_prom,prec_dom_prom,sem_iell_real,cluster,fase
0,2007,laborovalle,27.825,27.625,27.575,27.575,27.575,28.0,28.0,28.0,28.0,27.4,30.0,30.4,neutro
1,2007,lafragua,35.450,36.150,35.550,35.550,35.550,32.2,33.8,32.2,32.2,32.2,33.0,33.0,neutro
2,2007,puertosanjose,28.200,28.200,28.200,28.200,29.025,28.8,28.8,28.8,28.8,28.8,31.0,30.6,neutro
3,2008,laborovalle,29.825,28.325,28.550,28.550,28.550,28.8,28.2,28.8,28.8,28.8,31.0,28.2,nina
4,2008,lafragua,32.000,31.050,31.050,31.050,35.600,33.0,31.0,31.0,31.0,32.2,31.0,32.6,nina
5,2008,puertosanjose,26.000,25.775,25.775,26.000,26.775,28.0,27.4,27.4,28.0,28.2,30.0,27.0,nina
6,2009,laborovalle,27.725,27.575,27.575,27.575,28.325,28.6,28.2,28.2,28.2,28.2,26.0,28.2,nina
7,2009,lafragua,29.500,28.350,28.250,28.250,31.000,29.8,29.4,29.4,29.4,30.6,34.0,31.4,nina
8,2009,puertosanjose,28.050,27.750,27.750,28.050,28.050,28.2,27.4,27.4,28.2,28.2,27.0,29.0,nina
9,2010,laborovalle,28.875,28.200,28.200,28.950,29.175,28.4,28.6,28.6,28.6,29.2,28.0,30.6,nino
10,2010,lafragua,34.250,34.825,34.225,34.825,32.225,34.0,35.2,33.6,35.2,33.6,28.0,32.6,nino
11,2010,puertosanjose,29.025,29.125,29.125,29.125,29.975,29.0,29.0,29.0,29.0,29.0,24.0,30.8,nino
12,2011,laborovalle,27.175,27.525,27.525,27.275,26.800,28.6,28.6,28.6,28.6,27.6,30.0,29.6,nina
13,2011,lafragua,34.500,29.125,30.425,30.600,33.925,33.2,30.4,31.6,31.6,31.6,34.0,33.0,nina
14,2011,puertosanjose,26.700,25.625,26.375,26.600,26.700,27.4,26.8,26.8,27.4,27.4,28.0,27.6,nina
15,2012,laborovalle,27.875,27.025,27.125,26.900,29.050,28.6,28.2,28.2,27.6,28.2,28.0,29.2,nina
16,2012,lafragua,28.675,29.775,29.775,29.250,29.750,29.6,31.0,31.0,29.6,32.0,30.0,33.4,nina
17,2012,puertosanjose,27.675,27.600,27.600,27.600,27.850,27.6,27.2,27.2,27.2,27.8,29.0,27.8,nina
18,2013,cengicana,23.100,23.675,23.675,23.075,24.550,22.8,22.8,22.8,22.8,23.4,23.0,0.0,neutro
19,2013,laborovalle,27.200,27.050,26.900,27.050,27.350,27.6,27.6,27.2,27.6,27.6,29.0,27.6,neutro
20,2013,lafragua,30.650,30.600,30.600,30.600,32.750,30.8,30.8,30.8,30.8,32.4,29.0,31.2,neutro
21,2013,puertosanjose,28.200,28.875,28.950,28.950,27.750,28.8,28.6,28.8,28.8,28.8,30.0,28.0,neutro
22,2014,cengicana,23.725,23.650,23.675,23.350,22.975,23.8,23.8,23.8,23.8,22.4,22.0,4.6,neutro
23,2014,laborovalle,27.250,28.100,27.550,27.525,27.750,27.6,27.6,27.6,27.4,27.6,25.0,29.6,neutro
24,2014,lafragua,30.550,30.450,30.525,29.925,31.600,31.8,30.6,30.8,29.2,31.8,30.0,31.8,neutro
25,2014,puertosanjose,29.425,29.700,29.550,29.550,28.125,28.2,29.2,28.8,28.8,28.6,26.0,30.6,neutro
26,2015,cengicana,22.300,22.925,22.900,22.900,21.925,21.8,23.4,23.4,23.4,20.8,18.0,0.0,nino
27,2015,laborovalle,27.200,27.850,28.150,27.850,27.675,27.0,28.6,28.6,28.6,27.4,31.0,28.6,nino
28,2015,lafragua,35.400,36.550,36.500,36.200,34.750,33.0,34.6,34.6,34.6,33.0,32.0,31.8,nino
29,2015,puertosanjose,27.950,28.275,28.050,28.350,28.125,28.2,29.0,28.2,29.0,28.4,33.0,28.8,nino
30,2016,cengicana,21.425,19.850,19.550,20.775,22.300,22.2,21.4,21.4,22.2,22.2,23.0,4.4,nino
31,2016,laborovalle,27.150,29.675,28.725,28.800,29.075,27.8,28.2,28.0,28.0,27.8,32.0,28.8,nino
32,2016,lafragua,29.300,33.100,33.200,32.175,29.925,31.4,33.8,33.6,31.4,31.4,34.0,31.4,nino
33,2016,puertosanjose,28.375,27.525,29.925,31.350,28.875,30.0,28.8,29.6,30.2,28.4,28.0,28.6,nino
34,2017,cengicana,23.050,23.200,23.200,23.125,23.525,23.6,23.4,23.4,23.4,24.2,23.0,9.2,nina
35,2017,laborovalle,27.250,27.325,27.325,27.325,27.450,26.6,26.8,26.8,26.8,28.4,32.0,29.4,nina
36,2017,lafragua,30.425,30.625,30.475,30.625,30.100,30.2,30.6,30.6,30.6,30.6,27.0,33.6,nina
37,2017,puertosanjose,28.850,29.475,29.550,28.950,29.550,28.6,28.6,28.8,28.6,28.8,25.0,28.8,nina
38,2018,cengicana,19.325,18.650,18.650,19.400,19.000,21.0,21.2,21.2,21.2,20.2,18.0,9.0,nina
39,2018,laborovalle,26.875,26.800,26.800,26.725,27.550,27.8,27.6,27.4,27.4,28.2,27.0,27.6,nina
40,2018,lafragua,28.225,29.375,29.425,28.675,29.425,29.2,29.8,29.8,29.0,29.2,34.0,31.6,nina
41,2018,puertosanjose,29.000,28.450,28.975,28.975,28.250,28.0,28.6,28.6,28.6,28.2,28.0,28.6,nina
42,2019,cengicana,23.150,22.400,23.050,23.350,23.800,22.2,22.4,22.4,22.4,24.0,25.0,3.6,nino
43,2019,laborovalle,31.100,29.600,29.900,30.475,29.500,30.2,29.2,30.0,30.0,28.8,27.0,29.0,nino
44,2019,lafragua,33.900,34.350,33.975,33.975,33.225,33.2,34.8,33.4,33.4,32.2,26.0,32.0,nino
45,2019,puertosanjose,28.800,30.600,30.825,29.325,29.250,30.2,29.6,30.2,30.2,29.4,25.0,29.6,nino
46,2020,cengicana,22.225,22.975,22.900,22.400,23.200,22.4,22.6,22.4,22.4,23.4,24.0,8.6,neutro
47,2020,laborovalle,29.075,29.325,29.175,29.150,27.550,28.0,28.2,28.2,28.2,28.2,NaN,29.2,neutro
48,2020,lafragua,30.150,33.825,33.525,32.600,29.300,30.2,33.4,32.6,32.6,29.0,NaN,31.8,neutro
49,2020,puertosanjose,30.150,28.575,28.575,28.575,27.175,28.6,28.4,28.4,28.4,28.4,NaN,29.4,neutro
50,2021,cengicana,21.075,18.000,18.000,19.925,18.425,20.2,19.8,19.8,19.8,20.0,22.0,8.4,nina
51,2022,cengicana,21.525,18.650,18.650,19.800,18.575,21.4,20.4,20.4,20.6,20.2,19.0,7.2,nina
52,2023,cengicana,23.050,23.200,23.100,23.300,20.100,21.6,22.6,22.6,21.8,21.4,22.0,13.0,nina

In [ ]:
year	month	cluster	enso_dom	enso_dom pond	prec_dom	prec_dom pond	enso prec	enso prec pond	neutro	neutro pond	atl dom	atl dom pond	real	fase-ventana

SyntaxError: invalid syntax (1683669407.py, line 1)