## Agregaciones Anuales

#### Este notebook tiene como objetivo generar las tablas de las variables climaticas anuales

In [2]:
'Ubicación del espacio de trabajo'
pwd

'd:\\OneDrive - CGIAR\\Proyectos\\AgriLAC-ICC\\ICC\\Scrip_bases'

In [3]:
## Libreías generales
import numpy as np
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta

In [4]:
#comando para visualizar todas las columnas del df
pd.pandas.set_option('display.max_columns', None)

In [5]:
### Se carga el archivo del calculo de las variables semanales 

df_semanal = pd.read_parquet('semanal_complete.parquet')

,estrato,semana,año,preci_semana,prec_acumulada,n_brillo_solar_acum,temp_min_semanal,temp_max_semanal,temp_promedio_semanal,rad_diar_prom_semanal,ampl_term_prom_semanal,hume_rela_med_semanal,Veloc_viento_prom_max_semanal,Veloc_viento_media_semanal,max_lluvia,acumu_lluvia
0,Alto,1,2007,0.0,0.0,5.52,18.90,32.10,24.75,170.07,13.20,72.50,17.90,5.31,0.0,0.0
1,Alto,1,2008,0.0,0.0,61.32,18.62,32.78,24.87,194.77,14.16,63.39,38.88,12.18,0.0,0.0
2,Alto,1,2009,0.0,0.0,27.71,17.25,32.02,23.99,196.95,14.77,70.05,21.15,5.74,0.0,0.0
3,Alto,1,2010,24.6,24.6,40.60,18.34,32.50,24.50,176.98,14.16,70.90,22.46,4.55,24.6,24.6
4,Alto,1,2011,0.0,0.0,49.19,18.44,31.36,24.31,199.76,12.92,73.12,14.10,4.06,0.0,0.0

In [6]:
df_anual=df_semanal.groupby(['estrato','año']).agg(
    Radic_solar_prome_anual=('rad_diar_prom_semanal','sum'),
    brillo_solar_acum_anual=('n_brillo_solar_acum','sum'),
    precp_max_anual= ('prec_acumulada','max'),
    ampl_term_acmu_anual= ('ampl_term_prom_semanal','sum')
    ).reset_index().round(2)
df_anual

,estrato,año,Radic_solar_prome_anual,brillo_solar_acum_anual,precp_max_anual,ampl_term_acmu_anual
0,Alto,2007,1684.36,364.56,77.70,118.31
1,Alto,2008,10812.98,2233.11,3760.00,637.64
2,Alto,2009,11786.62,2474.10,3802.90,670.75
3,Alto,2010,10459.25,2052.22,4815.80,619.46
4,Alto,2011,10333.87,2073.78,4619.30,574.84
...,...,...,...,...,...,...
59,Medio,2018,11079.43,2323.27,2918.40,597.87
60,Medio,2019,11119.02,2336.45,2876.87,585.55
61,Medio,2020,10989.46,2226.05,2990.30,578.51
62,Medio,2021,11381.48,2357.94,3217.25,583.24
63,Medio,2022,7133.62,1413.74,1825.60,367.59

In [7]:
"""Se guarda la  base de datos con las variables calculadas anualmente, en este caso se guarda en formato parquet dado
que este formato es mas liviano que descargar la bae en un excel, pero tambien es posible guardar en formato excel """

df_anual.to_parquet('anual_complete.parquet')

#df_anual.to_excel('anual_complete.excel')